@use 'variables' as *;


//Mixins for screen resolutions
@mixin phone{
    @media (min-width: $phone){
        @content;
    }
}

@mixin pad{
    @media (min-width: $pad){
        @content;
    }
}
@mixin desktop{
    @media (min-width: $desktop){
        @content;
    }
}

@mixin desktopXL{
    @media (min-width: $desktopXL){
        @content;
    }
}


//Mixins to reset list and add a default to the display of grid

@mixin grid($columnas : 1, $gap : 5rem){
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $gap;
}


@mixin resetear-lista{
    margin: 0;
    padding: 0;
    list-style: none;
}