$main-font: "Nunito Sans", sans-serif;

//Colors provided by Coolors

$white: #FEFEFF;
$green: #355834;
$orange: #EA9010;
$dark: #231B1B;
$powder: #F1F5F2;
$black: #14141400;


//Screen resolutions
$phone: 480px;
$pad: 768px;
$desktop: 1200px;
$desktopXL: 1400px;